body {
    background-color: #D5BDA9;
    text-align: center;
    padding: 20px;
}

.game {
    padding: 20px;
    background-color: #D5BDA9;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    margin-left: 400px;
    margin-top: 20px;
}

h1 {
    text-align: left;
    margin-top: 50px;
    
}

.game p {
    font-size: 40px;
    margin: 20px 0;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.choice {
    padding: 10px 20px;
    font-size: 37px;
    border-radius: 64px;
    border: 2px solid #333;
    background-color: rgb(255, 255, 255);
    width: 127.3px;
    cursor: pointer;
}

.choice:hover {
    background-color: rgb(221, 220, 220);
}

.submit {
    margin-top: 30px;
    margin-right: 50px;
    align-items: flex-end;
    font-size: 30px;
    border-radius: 25px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    width: 197.2px;
    height: 71.3px;
    margin-bottom: 10px;
}

.submit:hover {
    background-color: rgb(221, 220, 220);
}

#nh {
    margin-top: 20px;
}

button {
    float: right;
}
#container{
    display:flex;
    gap:27%;
    
}
#timer{
    font-size: xx-large;
    border: 2px solid black;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    border-radius: 10px;
}