@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.flex1{
    display:flex !important;
    flex-direction:column !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    align-items:center !important;
    gap:1vh !important;
    background-color:white !important;
    
}
.Head{
    flex-basis:13vh;
    font-size:50px;
    margin-top:0px; 
    margin-bottom:0px; 
    display:flex; 
    align-items:center; 
    width:100vw;
    color:black;
    background-color:white;
    padding-left:7.5vw;
    box-shadow: 0px 1px 20px rgb(56, 56, 56);
    
}

.Navbar{
    width:80vw !important;
    display:flex !important;
    justify-content:space-around !important;
    
}
.Nav{
    flex:1 0 0 !important;
    font-size:20px !important;
    align-items:center;

}
.Bar{
    
    width:65vw !important;
}

.List{
    
    flex-basis:85vh !important;
    border-radius:10px !important;
    display:flex !important;
    flex-direction:column !important;
    gap:10px !important;
    padding:30px !important;
    overflow-y:auto !important;
    width:85vw !important;
    overflow-x:hidden !important;
    align-items:center !important;
    background-color:white !important;
    box-shadow: 0px 4px 20px rgb(56, 56, 56) !important;
    margin-bottom:1vh !important;


}
.List::-webkit-scrollbar {
    width: 12px; 
}
.List::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:15px;
}
.List::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 55); 
    border-radius: 10px;     
    border: 2px solid #ccc;  
}
.List::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

