@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-chrome: #4285f4;   /* Chrome color */
    --color-safari: #2a9d8f;   /* Safari color */
    --color-firefox: #f4a261;  /* Firefox color */
    --color-edge: #e76f51;     /* Edge color */
    --color-other: #6c757d;    /* Other color */
    --color-opera: #ff1f45;    /* Opera color */
    --color-brave: #fa2a00;    /* Brave color */
    
    --chart-1: 210;  /* Chrome color hue */
    --chart-2: 120;  /* Safari color hue */
    --chart-3: 30;   /* Firefox color hue */
    --chart-4: 0;    /* Edge color hue */
    --chart-5: 180;  /* Other color hue */
    --chart-6: 300;  /* Opera color hue */
    --chart-7: 20;   /* Brave color hue */
  }