body{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
}
.menu{
    width:40px;
    height:40px;
    margin-top:10px;
}
.head{
    display:inline-flex;
    gap:20px;
}
.select{
    display:flex;
    gap:10px;
}
.left{
    flex-basis:825px;
    height:575px;
    margin-left:40px;
    display:flex;
    flex-direction:column;
    gap:10px;
    
}
.right{
    flex-basis:325px;
    height:555px;
    border:1px solid black;
    border-radius:10px;

}
.over{
    flex-basis:90px;
    border:1px solid black;
    border-radius:10px;
    padding-left:20px;
}
.over:hover{
    border:2px solid black;
}
.list{
    flex-basis:475x;
    border: 1px solid black;
    border-radius:10px;
    display:inline-flex;
    flex-direction:column;
    gap:5px;
    padding:10px;
    overflow-y:auto;
    overflow-x:hidden;
}
.list:hover{
    border:2px solid black;

}
div.list div{
    flex-basis:45px;
    border:1px solid black;
    border-radius:5px;
    flex-shrink:0;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
div.list div div{
    border:0px;
}
div.list div:hover{
    border:2px solid rgb(45, 69, 155);
}
.list::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
.list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius:15px;
}
.list::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the scrollbar thumb */
    border-radius: 10px;     /* Rounded corners on the scrollbar thumb */
    border: 2px solid #ccc;  /* Optional: Border around the thumb */
}
.list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color when hovering over the scrollbar thumb */
}
div.list div.active{
    border:2px solid rgb(45,69,155);
}
.over.active1{
    border:2px solid black;
}
.pie{
    position:relative;
    width:250px;
    height:250px;
    border-radius:50%;
    background:conic-gradient(
        #2bca4e 0% 40%,
        red 40% 55%,
        orange 55% 65%,
        blue 65% 70%,
        green 70% 80%,
        grey 80% 95%,
        yellow 95% 100%);
    
}
.label{
    position:absolute;
    font-weight:bold;
    color: #333;
    white-space:nowrap;
    transform:translateY(-50%);
}
.happy{
    top:10%;
    left:100%;
    margin-left:10px;
    
}
div.right.ov{
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;

}
div.right div img{
    width:300px;
    height:200px;
}
.con{
    display:inline-flex;
    width:250px;
    justify-content:flex-start;
    gap:30px;
    align-items:center;
}
.angry{
    background-color:red;
    width:15px;
    height:15px;
    border-radius:3px;
}
.sad{
    background-color:blue;
    width:15px;
    height:15px;
    border-radius:3px;
}
.happy{
    background-color:#2bca4e;
    width:15px;
    height:15px;
    border-radius:3px;
}
.neutral{
    background-color:grey;
    width:15px;
    height:15px;
    border-radius:3px;
}
.surprised{
    background-color:yellow;
    width:15px;
    height:15px;
    border-radius:3px;
}
.fear{
    background-color:green;
    width:15px;
    height:15px;
    border-radius:3px;
}
.disgust{
    background-color:orange;
    width:15px;
    height:15px;
    border-radius:3px;
}
.content{
    display:flex;
    flex-direction:column;
    gap:20px;
    border-radius:3px;
}
.pop:hover{
    transform:scale(1.05);
    cursor:pointer;
    transition: transform 0.5s ease;
}
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dimmed background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-image-container {
    max-width: 90%;
    max-height: 90%;
}

.popup-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}