*{
    background-color: #D5BDA9;
    padding: 0.3rem;
}
.game{
    text-align: center;
    background-color: #D5BDA9;
}
h1{
    text-align: left;
    margin-left: 5%;
}
img{
    max-width: 100%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 4%;
}
.choice{
    border: 0.15rem solid #333;
    cursor: pointer;
}
.choice:hover{
    transform: scale(1.05);
}
.Computer{
    display: flex;
    justify-content: space-around;
}
.submit{
    margin-top: 1%;
    margin-right: 3%;
    font-size: 200%;
    border-radius: 1.5rem;
    border: 0.15rem solid black;
    background-color: white;
    cursor: pointer;
    width: 12.5rem;
    height: 4.5rem;
    margin-bottom: 20px;
}
.submit:hover{
    background-color: rgb(221, 220, 220);
}
button{
    float: right;
}