@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.adminPageLayout{
    display:flex;
    flex-direction:column;
    font-family: "Roboto", sans-serif;
    font-weight: 400 ;
    font-style: normal ;
    align-items:center ;
    gap:1vh ;
    background-color:white ;
    
}
.adminPageHeading{
    flex-basis:13vh;
    font-size:50px;
    margin-top:0px; 
    margin-bottom:0px; 
    display:flex; 
    align-items:center; 
    width:100vw;
    color:black;
    background-color:white;
    padding-left:7.5vw;
    box-shadow: 0px 1px 20px rgb(56, 56, 56);
    
}

.playerNavBar{
    width:80vw ;
    display:flex ;
    justify-content:space-around ;
    
}
.tag{
    flex:1 0 0;
    font-size:20px;
    align-items:center;

}
.Bar{
    
    width:65vw ;
}

.playerList{
    
    flex-basis:85vh ;
    border-radius:10px ;
    display:flex;
    flex-direction:column ;
    gap:10px ;
    padding:30px ;
    overflow-y:auto ;
    width:85vw ;
    overflow-x:hidden ;
    align-items:center ;
    background-color:white ;
    box-shadow: 0px 4px 20px rgb(56, 56, 56) ;
    margin-bottom:1vh ;


}
.playerList::-webkit-scrollbar {
    width: 12px; 
}
.playerList::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:15px;
}
.playerList::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 55); 
    border-radius: 10px;     
    border: 2px solid #ccc;  
}
.playerList::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}