.imagesPiegGraphs{
    display:flex;
    flex-direction:column;
    gap:5vh;
    padding:10px;
    align-items:center;
}
.gameScreenshot{
    flex-basis:30vh;
    width:25vw;
    border:2px solid #f1f1f1;
}
.playerImage{
    flex-basis:30vh;
    width:25vw;
    border:2px solid #f1f1f1;
}
.Flex3{
    padding-left:30px;
    padding-right:30px;
}
.Pie{
    background-color: white;
    color: black;
    border-radius: 10px;
    /* padding-bottom: 155px; */
    /* padding-top: 10px; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}