.Download {
    display: flex;
    height: 2.5rem;
    align-items: center;
    border: 1.5px solid #23436e; /* Dark blue border */
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #f1f1f1; /* Matching dark blue background */
    color: black; /* Light text */
    transition: background 0.3s ease;
}
.Download:hover {
    background: #355c7d;
    color: #f1f1f1;
}