.sessionContainer{
    flex-shrink:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1.5px solid #112240;
    padding:5px;
    flex-basis:50px;
    background-color:#344f73;
}
.sessionId{
    display:flex;
    flex-basis:15vw;
    justify-content:center;
    border:1px solid black;
    color: black;
    border-radius:5px;
    background-color:white;
}
.userName{
    display:flex;
    flex-direction:column;
    text-align: center;
    flex-basis:30vw;
    color: black;
    border:1px solid black;
    border-radius:5px;
    padding-top:2px;
    padding-bottom:2px;
    background-color:white;
}
.fetchView{
    color:white;
    display:flex;
    flex-basis: 15vw;
    justify-content:center;
}