/* 
.Head{
    margin:0px;
    height:7vh;
    font-size:6vh;
    margin:0px;
}
.Flex{
    display:flex;
    gap:1vw;
}
.list{
    transition: flex-basis 10s ease; 
}
.right{
    transition:flex-basis 10s ease;
}
.OV{
    transition:flex-basis 10s ease;
}
.left{
    transition:flex-basis 10s ease;
}
.right:hover{
    border:2px solid black;
}
.OV:hover{
    border:2px solid black;
}
.list:hover{
    border:2px solid black;

}
.list::-webkit-scrollbar {
    width: 12px; 
}
.list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius:15px;
}
.list::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 10px;     
    border: 2px solid #ccc;  
}
.list::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
} */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.right, .OV, .list {
    transition: flex-basis 2s ease; 
    border-radius: 10px;
    border: 1.5px solid black;
     
}
.left{
    height:87vh;
    transition:flex-basis 2s ease;
    flex-direction:column;
    display:flex;
    gap:1vh;
    margin:0px;
}
.right{
    height:87vh;
    margin:0px;
}
.Head{
    flex-basis:12vh;
    margin:0px
}


.OV {
    flex-basis:12vh;
    font-size: 50px;
    margin:0px;
}
.Page {
    display: flex;
    flex-direction: column;
    gap:1vh;
    margin:0px;
    padding:0px;
}

.Flex {
    flex-basis:87vh;
    display: flex;
    gap: 1vw;
    padding:0px;
    margin:0px;
}
.list{
    flex-basis:74vh;
    display:flex;
    flex-direction:column;
    gap:5px;
    padding:10px;
    overflow-y:auto;
    overflow-x:hidden;
    justify-content:space-around;
    margin:0px;

}
.right:hover {
    border: 2px solid black;
}

.OV:hover {
    border: 2px solid black;
}

.list:hover {
    border: 2px solid black;
}

.list::-webkit-scrollbar {
    width: 12px; 
}

.list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 15px;
}

.list::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 10px;     
    border: 2px solid #ccc;  
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
