.blocks{
    flex-shrink:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* border:1.5px solid black; */
    padding:5px;
    /* border-radius:5px; */
    flex-basis:50px;
    /* border-radius:10px; */
    background-color:#7cc0c8;
}
.flexse{
    display:flex;
    flex-basis:15vw;
    justify-content:center;
    border:1px solid black;
    /* border-radius:5px; */
    background-color:white;
}
.flexup{
    display:flex;
    flex-direction:column;
    flex-basis:30vw;
    padding-left:2vw;
    border:1px solid black;
    /* border-radius:5px; */
    padding-top:2px;
    padding-bottom:2px;
    background-color:white;
}
.fa{
    color:white;
    display:flex;
}