.Flex2{
    display:flex;
    flex-direction:column;
    gap:5vh;
    padding:10px;
    align-items:center;
}
.card {
    border: 1px solid #e5e7eb; /* light gray */
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
  }
.GS{
    flex-basis:30vh;
    width:25vw;
    border:2px solid black;
}
.PI{
    flex-basis:30vh;
    width:25vw;
    border:2px solid black;
}
.Image1{
    height:30vh;
    width:25vw;
}
.Image2{
    height:30vh;
    width:25vw;
}
.ls{
    display:flex;
    flex-direction:column;
    padding-left:2.5vw;
    margin-top:5vh;
    gap:2vh;
}
.but{
    margin-left:2.5vw;
    align-self:flex-start;
    flex-basis:fit-content;
}
